/Week1/ClashOfAvatars/Saved
/Week1/ClashOfAvatars/.vsconfig
/Week1/ClashOfAvatars/ClashOfAvatars.sln
/Week1/ClashOfAvatars/.vs
/Week1/ClashOfAvatars/Binaries
/Week1/ClashOfAvatars/DerivedDataCache
/Week1/ClashOfAvatars/Intermediate
/Week1/ClashOfAvatars/Content/Characters/Mannequins
/Week1/ClashOfAvatars/Platforms
/Week1/ClashOfAvatars/.idea


/LabWork2/LabWork2/Saved
/LabWork2/LabWork2/.vsconfig
/LabWork2/LabWork2/LabWork2.sln
/LabWork2/LabWork2/.vs
/LabWork2/LabWork2/Binaries
/LabWork2/LabWork2/DerivedDataCache
/LabWork2/LabWork2/Intermediate
/LabWork2/LabWork2/Content/Materials
/LabWork2/LabWork2/Content/Meshes
/LabWork2/LabWork2/Content/UI
/LabWork2/LabWork2/.idea


/LabWork3/Saved
/LabWork3/.vsconfig
/LabWork3/LabWork3.sln
/LabWork3/.vs
/LabWork3/Binaries
/LabWork3/DerivedDataCache
/LabWork3/Intermediate
/LabWork3/Content/Materials
/LabWork3/Content/Models
/LabWork3/Content/Textures
/LabWork3/Content/Meshes
/LabWork3/Content/UI
/LabWork3/.idea


/LabWork4/*.sln
/LabWork4/Binaries
/LabWork4/*.vsconfig
